<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Navegación - Shekina</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../pages/index.html">Inicio</a></li>
            <li><a href="../pages/about.html">Sobre Nosotros</a></li>
            <li><a href="../pages/contact.html">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>